label {
    margin-right: 30px;
}

form {
    background-color: rgba(215, 215, 215, 0.9);
    border-radius: 10px;
}

.forms {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
